#container::after{
    content:".";
    clear: both;
    display: block;
    height: 1px;
    visibility: hidden;
}

#content{
    min-width: 60%;
    width:70%;
    float: left;
    border: 2px solid #4bd046;
    border-radius: 5px;
    color: #000000;
    background-color: #3e9e39;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 10px;
}

#content button{
    outline-style: none;
}
#content > header,
#content .todo-title{
    font-weight: bold;

}

#content > header{
    font-size: 1.5em;
    text-align: center;
    color: #13ea62;
}

#content ul{
    list-style: none;
    padding: 0;
}
#content > ul > li{
    margin-top: 30px;
    margin-bottom: 30px;
}
#content > ul > li:last-child{
    margin-bottom: 0;
}

#content > ul > li > section > div{
    margin-top: 10px;
    margin-bottom: 10px;
}

#content .todo-header{
    font-size: 1.2em;
    color: #463369;
    border-top-left-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    background-color: #5bcc83;
    padding: 10px;
}

#content .todo-done .todo-title{
    text-decoration: line-through;
    color: #dcf3ee;
}
#content .todo-title > input{
    width: 100%;
    background-color: #4cb370;
    border: none;
    border-top-left-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    text-indent: 10px;
    font-size: inherit;
    outline-style: none;
}

#content .todo-status > *{
    padding: 0 10px;
}

#content .todo-status .toggle-icon{
    margin-left: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
}

#content .todo-status .done-info{
    font-size: 1.3em;
    font-weight: bold;
}
#content  .todo-have-more-times .todo-status .done-info{
    color: #145214;
}
#content .todo-have-not-more-times .todo-status .done-info{
    color: #924f2e;
}

#content .todo-done .todo-status .done-info{
    color: #FFD700;
    font-weight: unset;
}

#content .todo-status .reserve-days{
    font-weight: bold;
}

#content .todo-status .reserve-days.reserve-days-up{
    color: #4f8a13;
}

#content .todo-status .reserve-days.reserve-days-down{
    color: #FF6347;
    text-decoration: underline;
}
#content .todo-content{
    position: relative;
    min-height: 264px;
}
#content .todo-content > div{
    white-space: pre-wrap;
    position: absolute;
    top: 0;
}
#content .todo-content > div:first-child{
    display: inline-block;
    opacity: 0.8;
    width: 60%;
    min-width: 30%;
    background-color: #FFFFFF;
    border-radius: 10px 5px;
    text-align: justify;
    padding: 10px;
    margin-right: 10px;
    left: 0;
    bottom: 0;

}
#content .todo-content textarea{
    width: 100%;
    height: 100%;
    background-color: #d5f5f5;
    outline-style: none;
    border: none;
}
#content .todo-content .DayPicker{
    background-color: #ffe2f8;
    opacity: 0.9;
    border-radius: 5px;
    right: 0;
}

#content .todo-content .DayPicker-Day--have-time:not(.DayPicker-Day--outside){
    background-color: #84e51c;
}
#content .todo-content .DayPicker-Day--have-not-time:not(.DayPicker-Day--outside){
    background-color: #ffaa68;
}
#content .todo-content .DayPicker-Day--todo-done:not(.DayPicker-Day--outside){
    background-color: #FFD700;
    color: #000000;
}

#content .todo-action{
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
    background-color: #5bcc83;
    padding: 10px;
}
#content .todo-action > button:nth-child(n + 1){
    margin-right: 15px;
}
#content .todo-action > button{
    border-radius: 10px;
}